body {
    background-color: #1d1b1b;
    color: white;
    padding: 20px;
    font-family: Roboto, sans-serif;
}

h1 {
    text-align: center;
    font-size: 45px;
}

p {
    text-align: center;
}

hr {
    height: 1px;
    width: 25%;
    border: none;
    background-color: grey;
    margin-top: 5px;
    margin-bottom: 5px;
}

#newGame {
    display: block;
    margin: 10px auto 0;
    width: max-content;
    border: none;
    border-radius: 5px;
    padding: 8px 50px;
    background-color: rgb(14, 95, 14);
    color: white;
    font-size: 15px;
    font-weight: bold;
}